<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Holistic Video Understanding Workshops</h1>
            <hr>
            <!--<p>Holistic Video Understanding Dataset</p>-->
            <a href="iccv2019.html" class="btn btn-primary btn-xl page-scroll">ICCV 2019</a>
            <a href="cvpr2021.html" class="btn btn-primary btn-xl page-scroll">CVPR 2021</a>
            <a href="cvpr2022.html" class="btn btn-primary btn-xl page-scroll">CVPR 2022</a>
            <a href="cvpr2023.html" class="btn btn-primary btn-xl page-scroll">CVPR 2023</a>
            <a href="cvpr2024.html" class="btn btn-primary btn-xl page-scroll">CVPR 2024</a>
            <a href="cvpr2025.html" class="btn btn-primary btn-xl page-scroll">CVPR 2025</a>
            <a href="neurips2025.html" class="btn btn-primary btn-xl page-scroll">NeurIPS 2025</a>
        </div>
    </div>
</header>